.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
assets/schema_input (Copy).json
out_test/
samplesheet*.csv
test_samples/
expected_copla.txt
.samplesdir.txt
modules/local/copla/Dockerfile*
