.nextflow*
work/
results/
.DS_Store
testing*
*.pyc
null/
out_test/
samplesheet.csv
test_samples/
expected_copla.txt
.samplesdir.txt
modules/local/copla/Dockerfile*
data/
minimal_test/
flowchart.png
msy_model_check.py
