/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: MERGE_ANNOTATIONS {
        publishDir = [
            enabled: false
        ]
    }

    withName: ABRICATE_RUN_CARD {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/annotations/amr/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ABRICATE_RUN_VFDB {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/annotations/vf/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: DEFENSEFINDER_UPDATE {
        publishDir = [
            enabled: false
        ]
    }

    withName: DEFENSEFINDER_RUN {
        ext.args = '-a --skip-model-version-check'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/annotations/defense/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MOBSUITE_RECON {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/mobsuite_recon/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLASMIDMARKERS {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLASMIDFINDER {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/plasmidfinder/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: RENAME_PLASMIDS {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLASMID_PARSER {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLASMID_SUMMARY {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VISUALIZE_CIRCULAR {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VISUALIZE_LINEAR {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/integrons/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COPLA_COPLADBDOWNLOAD {
        publishDir = [
            enabled: false
        ]
    }

    withName: COPLA_COPLA {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/plasmids/copla/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: INTEGRONFINDER {
        ext.args = '--promoter-attI'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/integrons/integron_finder/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: INTEGRONMARKERS {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/integrons/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: INTEGRON_PARSER {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/integrons/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: IS_BLAST {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/is/ISFinder/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: IS_PARSER {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/is/ISFinder/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ISESCAN {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/is/ISEScan/" },
                mode: params.publish_dir_mode,
                saveAs: { filename ->
                    filename.equals('versions.yml') || filename.equals('IS_summary.tsv') ? null : filename
                }
            ],
            [
                path: { "${params.outdir}/${meta.id}/is/summary/" },
                mode: params.publish_dir_mode,
                pattern: 'IS_summary.tsv'
            ]
        ]
    }

    withName: PHISPY {
        ext.args = '--output_choice 512'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/prophages/phispy/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.log') ? null : filename }
        ]
    }

    withName: PROCESS_PHISPY {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/prophages/summary/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PHIGARO_SETUP {
        publishDir = [
            enabled: false
        ]
    }

    withName: PHIGARO {
        ext.args = '-d -p --not-open --save-fasta -e html tsv gff bed stdout'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/prophages/phigaro/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PHASTEST_PHASTESTDBDOWNLOAD {
        publishDir = [
            enabled: false
        ]
    }

    withName: PHASTEST_PHASTEST {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/prophages/phastest/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GENOMAD_DOWNLOAD {
        publishDir = [
            enabled: false
        ]
    }

    withName: GENOMAD_ANNOTATE {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/prophages/genomad/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENOMAD_FINDPROVIRUSES {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/prophages/genomad/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENOMAD_ENDTOEND {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/prophages/genomad/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PVOGDOWNLOAD {
        publishDir = [
            enabled: false
        ]
    }

    withName: VERIFYMODEL {
        publishDir = [
            enabled: false
        ]
    }

    withName: MACSYFINDER {
        ext.args = '--timeout 30m --db-type ordered_replicon -vv --e-value-search 0.0001'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/ICEs/macsyfinder/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ICEBERG_DB_DOWNLOAD {
        publishDir = [
            enabled: false
        ]
    }

    withName: ICEBERG_ICESEARCH {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/ICEs/iceberg/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FILTER_FAA {
        publishDir = [
            enabled: false
        ]
    }

    withName: ICEFINDER2 {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/ICEs/icefinder2/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMPLESUMMARY {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/annotations/"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
